<div class="card-deck">
  <mdb-card  class="panels card card-image text-center pl-3 mb-3 ml-3 mt-3" style="background-image: url('../../assets/img/Panel1.jpg')">
    <mdb-card-body>
      <mdb-card-title>
        <h5>Excercise Plans</h5>
      </mdb-card-title>
      <mdb-card-text>At JessterFIT we customize every exercise plan to suit your body, your goals and your schedule!</mdb-card-text>
      <a href="#!" mdbBtn color="yellow">GET LEAN BITTCH</a>
    </mdb-card-body>
  </mdb-card>

  <mdb-card Color="#fed530" class="panels card card-image text-center mb-3 ml-3 mt-3" style="background-image: url('../../assets/img/Panel2.JPG')">
    <mdb-card-body>
      <mdb-card-title>
        <h5>Challenges</h5>
      </mdb-card-title>
      <mdb-card-text>JessterFIT challenges are designed to make you work and the prizes are a little extra motivation</mdb-card-text>
      <a href="#!" mdbBtn color="yellow">REGISTER NOW</a>
    </mdb-card-body>
  </mdb-card>

  <mdb-card Color="#fed530" class="panels card card-image text-center pr-3 mb-3 ml-3 mt-3" style="background-image: url('../../assets/img/Panel3.JPG')">
    <mdb-card-body>
      <mdb-card-title>
        <h5>Merchandise</h5>
      </mdb-card-title>
      <mdb-card-text>Buy JessterFIT Hoodies, Vests or even Vests With Hoodies</mdb-card-text>
      <a href="#!" mdbBtn color="yellow">VIEW</a>
    </mdb-card-body>
  </mdb-card>
</div>